*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f7fa;
color:#333;
}

header{
background:#0d6efd;
padding:20px;
}

.container{
display:flex;
justify-content:space-between;
align-items:center;
}

header h1{
color:#fff;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:20px;
}

.hero{
text-align:center;
padding:80px 20px;
background:#ffffff;
}

.hero h2{
font-size:40px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:15px 30px;
background:#0d6efd;
color:white;
text-decoration:none;
border-radius:8px;
}

.services{
padding:60px 20px;
}

.services h2{
text-align:center;
margin-bottom:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card h3{
margin-bottom:15px;
color:#0d6efd;
}

footer{
background:#0d6efd;
color:white;
text-align:center;
padding:50px 20px;
}

footer .btn{
background:white;
color:#0d6efd;
margin-top:20px;
}
.query-section{
    padding:60px 20px;
}

.container{
    max-width:600px;
    margin:auto;
    
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

h2{
    text-align:center;
    color:black;
    margin-bottom:10px;
}

p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

input,
textarea{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

textarea{
    resize:vertical;
}

button{
    width:100%;
    padding:15px;
    border:none;
    background:#2563eb;
    color:#fff;
    font-size:17px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}


body{
background:#fbff16;
color:rgb(43, 6, 255);
}

header{
background:#0d6efd;
padding:20px;
}

.container{
display:flex;
justify-content:space-between;
align-items:center;
}

header h1{
color:greenyellow;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:20px;
}

.hero{
text-align:center;
padding:80px 20px;
background-color:orange;
}

.hero h2{
font-size:40px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
margin-bottom:30px;
}

.btn{
display:inline-block;
padding:15px 30px;
background:#0d6efd;
color:white;
text-decoration:none;
border-radius:8px;
}

.services{
padding:60px 20px;
}

.services h2{
text-align:center;
margin-bottom:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card h3{
margin-bottom:15px;
color:#0d6efd;
}

footer{
background:#0d6efd;
color:white;
text-align:center;
padding:50px 20px;
}

footer .btn{
background:white;
color:#0d6efd;
margin-top:20px;
}
.contact-section {
    padding:60px 20px;
    align-items:center;
    background:#ffffff;
}

.container{
    max-width:600px;
    margin:auto;
    
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

h2{
    text-align:center;
    color:rgb(17, 253, 13);
    margin-bottom:10px;
}

p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}



